
.FeedInput {
    padding: 1vh;
    width: auto;
    background-color: rgba(29, 40, 53, 0.8);
    border-radius: 1vh;
    border: 0;
    box-shadow: none;
    text-shadow: none;
    color: white;
    outline: none;
    user-select: none;  /* This may not work on input but good for other elements */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE/Edge */
    font-size: 1.25vh;
}

.FeedInput::placeholder {
    color: rgba(255, 255, 255, 0.5); 
    font-size: 1.25vh;
}

.FeedInput:hover {
    border: none;
}

.FeedInput:focus {
    border: none;
    outline: none;
}


