
.Input {
    padding: 2vh;
    width: 100%;
    background: linear-gradient(90deg, rgba(43,148,171,0.2) 0%, rgba(16,48,59,0.8) 50%, rgba(11,30,41,0.8) 100%);
    border-radius: 1vh;
    border: 0;
    box-shadow: none;
    text-shadow: none;
    color: white;
    outline: none;
    user-select: none; 
    -webkit-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none; 
    font-size: 2vh;
}

.Input::placeholder {
    color: rgba(255, 255, 255, 0.5); 
    font-size: 2vh;
}

.Input:hover {
    border: none;
}

.Input:focus {
    border: none;
    outline: none;
}


.Suggestion {
    margin-top: 1vh;
    background-color: rgba(15, 15, 15, 0.8);
    border-radius: 1vh;
    padding: 1vh;
    cursor: pointer;
    transition: background-color 0.3s; 
}

.Suggestion:hover {
    background-color: rgb(0, 61, 84); 
}
